body {

    background-color: #341256;
    color: #ffffff;
}

a {
   text-decoration: none;
   color: #ffffff;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

.main-container {
    text-align: center;
}

button {
    margin-top: 20px;
}